/* public/common/shared css configuration 
   elements, pseudos, basic classes etc.
*/

body, header, footer {
    width: 100%;
    color: var(--colorWB1);
}

body, header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorBlack); 
}
main {
    width:100%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.headerPC, .headerMobile, footer, .search {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.headerPC, .headerMobile {
    background-color: var(--colorBlack);
    position: sticky;
    top: 0;
    z-index: 99999;
}
.headerMobile {
    padding: var(--spaceIn);
    display: none;
}
.headerMobileAuthor {
    width: var(--iconSize);
    height: var(--iconSize);
    padding: var(--spaceIn);
    border-radius: var(--spaceOut);
    position: absolute;
    left: var(--spaceIn);
 }
.headerMobileLogo {
    width: var(--iconSizeSX);
    height: var(--iconSizeSX);
 }
header p {
    width: 100%;
    padding: 0;
    text-align: center;
    font-weight: bold;
    text-align: center;
    color: var(--colorWB5);
}
.headerLogo {
    margin: var(--spaceMin);
    padding: var(--spaceMin);
    cursor: pointer;
}
.search {
    width: 20px;
    justify-content: start;
    margin: var(--spaceMin) var(--spaceIn2);

    border-radius: var(--spaceIn);
    background-color: var(--colorBlack);
    font-size: var(--textSizeL);
    transition: var(--transition);
    background-color: var(--colorWB7);
}
.search i {
    padding: var(--spaceIn);
    font-size: 18pt;
    cursor: pointer;
    color:var(--colorWB5);
}
.search input {
    padding: var(--spaceIn);
    font-size: var(--textSizeL);
    color: var(--colorWB5);
    background-color: var(--clientGray);
    outline: none;
    border: none;
}
.search i:hover {
    color: var(--clientBlue);
}
.search i:active {
    color: var(--coloWhite)
}
.search input:focus {
    color: var(--coloWhite)
}


footer {
    flex-direction: column;
    align-items: center;
}

footer p {
    padding: var(--spaceIn) 0;
    /* justify-content: center; 
       unecessary, since body is 'space-between' */
}

aside {
    width: 100px;
    margin: 0;
    padding: 0;
}
nav a {
    color: var(--colorWhitish);
    text-decoration: none;
}
nav ul {
    display: flex;
    list-style: none;
    gap: var(--spaceIn);
}
nav ul li {
    list-style: none;
    cursor: pointer;
}

aside nav ul {
    width: 100px;
    flex-direction: column;
    gap:0;
}
aside nav ul li {
    padding: 10px;
    text-decoration: none;
    border: none;
    border-radius: var(--spaceOut);
}
aside nav ul li:hover {
    font-weight: bold;
    color: var(--clientBlue);
    background-color: var(--colorWB7);
    transition: var(--transition);
}

footer nav {
    width: 100%;
    display: none;
}
footer nav ul {
    padding: var(--spaceIn);
    display: flex;
    justify-content: space-around;
}
footer i:hover {
    color: var(--clientBlue);
    transition: var(--transition);
}

h1, h2, h3, h4, h5, h6 {
    padding: var(--spaceIn);
}

p {
    text-align: justify;
    padding-top: var(--spaceIn);
}
i {
   cursor: pointer;
}

