/* public/common/shared css configuration 
   elements, pseudos, basic classes etc.
*/

body, header, footer {
    width: 100%;
    color: var(--colorWB1);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorWB6); 
    /* animation: bgColor 3s; */
}
main {
    width:100%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

header, footer, .search {
    width: 100%;
    background-color: var(--colorWB7); 

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header {
    position: sticky;
    top: 0;
    z-index: 99999;
    height: auto;
}
header p {
    width: 100%;
    padding: 0;
    text-align: center;
    font-weight: bold;
    text-align: center;
    color: var(--colorWB5);
}
.headerLogo {
    margin: var(--spaceMin);
    padding: var(--spaceMin);
    cursor: pointer;
}
.search {
    width: 20px;
    justify-content: start;
    margin: var(--spaceMin) var(--spaceIn2);

    border-radius: var(--spaceIn);
    background-color: var(--colorWB6);
    font-size: var(--textSizeL);
    transition: var(--transition);

}
.search i {
    padding: var(--spaceIn);
    font-size: 18pt;
    cursor: pointer;
    color:var(--colorWB5);
}
.search input {
    padding: var(--spaceIn);
    font-size: var(--textSizeL);
    color: var(--colorWB5);
    background-color: var(--colorWB6);
    outline: none;
    border: none;
}
.search i:hover, .search input:focus {
    color: var(--colorWB2);
}
.search i:active {
    color: var(--colorCyan)
}


footer {
    flex-direction: column;
    align-items: center;
}
footer i {
    padding: var(--spaceIn);
    color: var(--color4);;
    border: 2px solid var(--color4);;
    border-radius: var(--spaceIn);
}
footer p {
    padding: var(--spaceIn) 0;
    /* justify-content: center; 
       unecessary, since body is 'space-between' */
}

aside {
    width: 100px;
    margin: 0;
    padding: 0;
}
nav a {
    color: var(--colorWhitish);
    text-decoration: none;
}
nav ul {
    display: flex;
    list-style: none;
    gap: var(--spaceIn);
}
nav ul li {
    list-style: none;
    cursor: pointer;
}

aside nav ul {
    width: 100px;
    flex-direction: column;
    gap:0;
}
aside nav ul li {
    padding: 10px;
    text-decoration: none;
}
aside nav ul li:hover {
    font-weight: bold;
    background-color: var(--color6);
    transition: var(--transition);
}

footer nav {
    width: 100%;
    justify-content: center;
    background-color: var(--color6);
    display: none;
}
footer nav ul {
    padding: var(--spaceIn);
    justify-content: space-around;
}
footer i:hover {
    background-color: var(--colorWhitish);
    transition: var(--transition);
}

table {
    border-collapse: collapse;
}
td, th {
    padding: var(--spaceIn);
    color: var(--color4);
    width: 100px;
    border: 1px solid var(--colorBlackish);
}
th {
    color: var(--colorClient3);
    background-color: var(--color4);
}
td {
    color: var(--colorBlackish);
    text-align: center;
}
td:hover {
    border-bottom: 3px solid var(--colorWhitish);
    background-color: var(--color2);
    cursor: pointer;
}
td:active {
    background-color: var(--colorWhitish);
}

h1, h2, h3, h4, h5, h6 {
    padding: var(--spaceIn);
}

p {
    text-align: justify;
    padding-top: var(--spaceIn);
}
/* button {
    padding: 5px var(--spaceIn);
    color: var(--colorWhitish);
    border: none;
    border-radius: 8px;
    cursor: pointer;
} */


