/* public/common/shared css elements configuration */

@keyframes bgColor {
    0% {
        background-color: var(--colorWhitish);
    }
    100% {
        background-color: var(--colorWB7); 
    }    
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Italic.ttf);
    font-style: italic;
}

:root {
    /* colors */
    --colorWhitish: rgb(248, 249, 250); 
    --colorBlackish: rgb(33, 37, 41); 

    --colorWhite: white;
    --colorSilver: silver;
    --colorGray: gray;
    --colorBlack: black;
    --colorRed: red;
    --colorLime: lime;
    --colorCyan: cyan;
    --colorYellow: yellow;

    /* blue */
    --color1: #ADE8F4; 
    --color2: #90E0EF; 
    --color3: #48CAE4; 
    --color4: #00B4D8; 
    --color5: #0096C7; 
    --color6: #0077B6; 
    --color7: #023E8A; 

    /* orange */
    --color1: #FAA307; 
    --color2: #F48C06; 
    --color3: #E85D04; 
    --color4: #D00000; 
    --color5: #9D0208; 
    --color6: #6A040F; 
    --color7: #370617; 
   
    /* green */
    --color1: #B7E4C7; 
    --color2: #95D5B2; 
    --color3: #74C69D; 
    --color4: #52B788; 
    --color5: #40916C; 
    --color6: #2D6A4F; 
    --color7: #1B4332;

    /* gray */
    --colorWB1: rgb(233, 236, 239); 
    --colorWB2: rgb(222, 226, 230); 
    --colorWB3: rgb(206, 212, 218); 
    --colorWB4: rgb(173, 181, 189); 
    --colorWB5: rgb(108, 117, 125); 
    --colorWB6: rgb(73, 80, 87); 
    --colorWB7: rgb(52, 58, 64); 

    /* fonts */
    --fontArt1: 'Protest Guerrilla';
    --fontSans1: Roboto;
    --fontSerifa1: 'Times New Roman';

    --fontArt2: 'Protest Guerrilla';
    --fontSans2: 'SUSE';
    --fontSerifa2: 'Times New Roman';
    
    --textSize: 10pt; 
    --textSizeS: 8pt; 
    --textSizeL: 12pt; 
    --textSizeLX: 14pt; 
    
    --iconSize: 32px; 
    --iconSizeS: 24px; 
    --iconSizeM: 36px; 
    --iconSizeL: 48px; 
    --iconSizeLX: 64px; 
    
    /* others */
    --spaceIn: 10px;
    --spaceIn2: 20px;
    --spaceIn3: 30px;
    --spaceOut: 50px;
    --spaceMax: 100px;
    --spaceMin: 3px;

    --animate-duration: 800ms;
    --animate-delay: 0.9s;
    --transition: .5s;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fontSans1), Arial, Helvetica, sans-serif;
}

body, header, footer {
    width: 100%;
    color: var(--colorWB1);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorWB6); 
    /* animation: bgColor 3s; */
}
main {
    width:100%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

header, footer, .search {
    width: 100%;
    background-color: var(--colorWB7); 

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header {
    position: sticky;
    top: 0;
    z-index: 99999;
    height: auto;
}
header p {
    width: 100%;
    padding: 0;
    text-align: center;
    font-weight: bold;
    text-align: center;
    color: var(--colorWB5);
}
.headerLogo {
    margin: var(--spaceMin);
    padding: var(--spaceMin);
    cursor: pointer;
}
.search {
    width: 20px;
    justify-content: start;
    margin: var(--spaceMin) var(--spaceIn2);

    border-radius: var(--spaceIn);
    background-color: var(--colorWB6);
    font-size: var(--textSizeL);
    transition: var(--transition);

}
.search i {
    padding: var(--spaceIn);
    font-size: 18pt;
    cursor: pointer;
    color:var(--colorWB5);
}
.search input {
    padding: var(--spaceIn);
    font-size: var(--textSizeL);
    color: var(--colorWB5);
    background-color: var(--colorWB6);
    outline: none;
    border: none;
}
.search i:hover, .search input:focus {
    color: var(--colorWB2);
}
.search i:active {
    color: var(--colorCyan)
}


footer {
    flex-direction: column;
    align-items: center;
}
footer i {
    padding: var(--spaceIn);
    color: var(--color4);;
    border: 2px solid var(--color4);;
    border-radius: var(--spaceIn);
}
footer p {
    padding: var(--spaceIn) 0;
    /* justify-content: center; 
       unecessary, since body is 'space-between' */
}

aside {
    width: 100px;
    margin: 0;
    padding: 0;
}
nav a {
    color: var(--colorWhitish);
    text-decoration: none;
}
nav ul {
    display: flex;
    list-style: none;
    gap: var(--spaceIn);
}
nav ul li {
    list-style: none;
    cursor: pointer;
}

aside nav ul {
    width: 100px;
    flex-direction: column;
    gap:0;
}
aside nav ul li {
    padding: 10px;
    text-decoration: none;
}
aside nav ul li:hover {
    font-weight: bold;
    background-color: var(--color6);
    transition: var(--transition);
}

footer nav {
    width: 100%;
    justify-content: center;
    background-color: var(--color6);
    display: none;
}
footer nav ul {
    padding: var(--spaceIn);
    justify-content: space-around;
}
footer i:hover {
    background-color: var(--colorWhitish);
    transition: var(--transition);
}

table {
    border-collapse: collapse;
}
td, th {
    padding: var(--spaceIn);
    color: var(--color4);
    width: 100px;
    border: 1px solid var(--colorBlackish);
}
th {
    color: var(--colorClient3);
    background-color: var(--color4);
}
td {
    color: var(--colorBlackish);
    text-align: center;
}
td:hover {
    border-bottom: 3px solid var(--colorWhitish);
    background-color: var(--color2);
    cursor: pointer;
}
td:active {
    background-color: var(--colorWhitish);
}

h1, h2, h3, h4, h5, h6 {
    padding: var(--spaceIn);
}

p {
    text-align: justify;
    padding-top: var(--spaceIn);
}
/* button {
    padding: 5px var(--spaceIn);
    color: var(--colorWhitish);
    border: none;
    border-radius: 8px;
    cursor: pointer;
} */


