/* private css configuration related to index.html 
   elements, classes, ids, pseudos, etc.
*/
::-webkit-scrollbar {
   display: none;
}

.headerLogo {
   height: var(--iconSizeSX);
   padding-left: var(--spaceOut);
}
header p {
   color: var(--colorWhite);
}
.search {
   width: 180px;
}


aside {
   padding: var(--spaceIn);
}
.left, .right {
   /* width: 25%; */
   width: 500px;
   font-size: var(--textSize);
   padding: 30px;
}

/* left side */

.left {
   display: flex;
   flex-direction: column;
   justify-content: start;
   gap: var(--spaceOut);
}
.nav, .navLinks {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.navLinks ul {
   width: 100%;
}
.navLinks i {
   padding-right: var(--spaceIn);
}
.navButton {
   font-weight: bold;
   margin: var(--spaceIn);
   padding: var(--spaceIn2);
   border: 0;
   border-radius: var(--spaceOut);
   color: var(--colorWithish);
   background-color: var(--color4);
   transition: var(--transition);
   cursor: pointer;
}
.navButton:hover {
   font-size: var(--textSizeL);
   color: var(--colorWhite);
   transition: var(--transition);
}

.bottomItems, .userItems {
   width: 100%;
   display: flex;
   float: calc();
   align-items: center;
}
.userItem {
   width: 100%;
   padding: var(--spaceIn);
   border: none;
   border-radius: var(--spaceOut);
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}
.userItem p {
   margin: 0;
   padding: 0;
}
.userImage {
   width: var(--iconSize);
   height: var(--iconSize);
   border-radius: var(--spaceOut);
}
.userInfo {
   width: 100%;
   padding-left: var(--spaceIn);
}
.userId {
   color: var(--colorWB4);
   font-size: var(--textSizeS);
}

.userItem:hover {
   color: var(--clientBlue);
   background-color: var(--colorWB7);
}

/* center */ 
.posts {
   width: 100%;
   overflow-y: scroll;
   overflow-x: hidden;
   font-size: var(--textSize);
}
.posts p {
   margin: 0;
   padding: 0;
}
.post {
   height: 400px;
   padding: var(--spaceMin);
   border: 1px solid var(--colorWB5);

   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.postHeader {
   display:flex;
   justify-content: start;
}
.postInfo {
   padding-left: var(--spaceIn);
}
.postAuthor {
   font-weight: bold;
}
.postTitle {
   font-size: var(--textSizeS);
}
.postTags {
   color: var(--clientBlue);
}
.userImage, .postAuthorImage {
   width: var(--iconSize);
   height: var(--iconSize);
   border-radius: var(--spaceOut);
}
.postImage {
   height: 320px;
   margin: 0 var(--spaceIn3);
   border-radius: var(--spaceIn);
}
.postOptions {
   display:flex;
   justify-content: space-around;
   padding: var(--spaceMin) 0;
}
.liked {
   color: var(--colorRed);
}
.postOption:hover {
   color: var(--clientBlue);
}

/* right side */

.news {
   display: flex;
   flex-direction: column;
   background-color: var(--colorWB5);
   border-radius: var(--spaceIn);
}

.newsList {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.newsItem {
   width: 100%;
   display:flex;
   justify-content: space-between;
   align-items: center;
}
.newsItemInfo {
   width: 100%;
   padding: var(--spaceIn);
   display: flex;
   flex-direction: column;
   align-items: center;
   align-items: start;
   font-size: var(--textSizeS);
}
.newsItem i {
   padding-right: var(--spaceIn);
}
.newsTitle {
   font-size: var(--textSize);
   font-weight: bold;
}
.newsItemInfo p {
   padding: 0;
   text-align: start;
}


.copyright {
   color: var(--colorWB5);
}
.copyright .author {
   color: var(--colorWB4);
   font-weight: bolder;
}